body,html{
  padding: 0px;
  margin:0px;
}
.Header{
  list-style-type: none;
  display: flex;
  height: 100px;
  background-color: black;
  margin-top: -2px;
  padding-left: 1100px;


}
.Header li{
  padding:10px;
  margin-top: 20px;
  
  
  
}
.Header button{
  border-radius: 10px;
  height: 40px;
  width: 80px;
  cursor: pointer;
}
.Footer{
  height: 100px;
  background-color: black;
  
  color: white;

  
}
.Footer h3{
  margin-left: 600px;
  padding: 30px;
  
}
.Land img{
  margin-left: 400px;
  width: 600px;
  height: 400px;
 

}
form{
 width: 30px;
 margin-bottom: 335px;
 margin-left: 550px;
 padding-top: 10px;
}