body,html{
  padding: 0px;
  margin:0px;
}
.Header{
  list-style-type: none;
  display: flex;
  height: 100px;
  background-color: black;
  margin-top: -2px;
  padding-left: 1100px;


}
.Header li{
  padding:10px;
  margin-top: 20px;
  
  
  
}
.Header button{
  border-radius: 10px;
  height: 40px;
  width: 80px;
  cursor: pointer;
}